1.Create a Pandas Series from a list and calculate its absolute values using the abs() function:

In [14]:
import pandas as pd
series = pd.Series([-1, -2, 3, -4])
result = series.abs()
print(result)

0    1
1    2
2    3
3    4
dtype: int64

2.Create a Pandas Series and use the map() function to replace all occurrences of one value with another:

In [15]:
series = pd.Series([1, 2, 3, 1])
result = series.map({1: 10})
print(result)

0    10.0
1     NaN
2     NaN
3    10.0
dtype: float64

In [44]:
import pandas as pd

# Create a Pandas Series
series = pd.Series([1, 2, 3, 1])

# Use map() to replace occurrences of 1 with 10
# and fill the remaining values with their original values
result = series.map({1: 10}).fillna(series)

print(result)

0    10.0
1     2.0
2     3.0
3    10.0
dtype: float64

3.Create a Series of numbers and add 5 to each element using the add() function:

In [16]:
series = pd.Series([10, 20, 30])
result = series.add(5)
print(result)

0    15
1    25
2    35
dtype: int64

4.Create a DataFrame with 3 columns. Use the add_prefix() method to add the prefix "Col_" to each column name.

In [17]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
new_df = df.add_prefix("Col_")
print(new_df)

   Col_A  Col_B
0      1      3
1      2      4

5.Calculate the covariance matrix using the cov() method:

In [18]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.cov())

     A    B
A  1.0  1.0
B  1.0  1.0

6.Replace missing values using the bfill() method:

In [19]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, None]})
df_filled = df.bfill()
print(df_filled)

     A    B
0  1.0  5.0
1  3.0  5.0
2  3.0  NaN

7.Convert a specific column in a DataFrame to integers using the astype() method:

In [20]:
df = pd.DataFrame({'A': [1.5, 2.5, 3.5]})
df['A'] = df['A'].astype(int)
print(df)

   A
0  1
1  2
2  3

8.Use the at property to modify a specific value in a DataFrame:

In [21]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df.at[0, 'A'] = 10
print(df)

    A  B
0  10  4
1   2  5
2   3  6

9.Count the number of non-null values in each column using the count() method:

In [22]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [4, 5, None]})
print(df.count())

A    2
B    2
dtype: int64

10.Use the all() method to check if all values in a column are greater than a given number:

In [23]:
df = pd.DataFrame({'A': [10, 20, 30]})
result = (df['A'] > 5).all()
print(result)

True

11.
Use the any() method to check if any value in a column meets a condition:

In [24]:
df = pd.DataFrame({'A': [10, 5, 30]})
result = (df['A'] > 25).any()
print(result)

True

12.Read a CSV file and display the first 10 rows:

In [25]:
df = pd.read_csv('data.csv')
print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

13.Check the data types of each column after loading a CSV:

In [26]:
df = pd.read_csv('data.csv')
print(df.dtypes)

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

14.Drop rows containing missing values:

In [27]:
df = pd.read_csv('data.csv')
df_clean = df.dropna()
print(df_clean)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

15.Fill missing values with the mean of their columns:

In [28]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})
df_filled = df.fillna(df.mean())
print(df_filled)

     A    B
0  1.0  5.5
1  2.0  5.0
2  3.0  6.0

16.Convert strings to numeric values using astype():

In [29]:
df = pd.DataFrame({'A': ['10', '20', '30']})
df['A'] = df['A'].astype(int)
print(df)

    A
0  10
1  20
2  30

17.Correct incorrect values in a DataFrame programmatically:

In [30]:
df = pd.DataFrame({'A': [10, -999, 30]})
df['A'] = df['A'].replace(-999, df['A'].mean())
print(df)

            A
0   10.000000
1 -319.666667
2   30.000000

18.Remove duplicate rows using drop_duplicates():

In [31]:
df = pd.DataFrame({'A': [1, 1, 2], 'B': [4, 4, 5]})
df_clean = df.drop_duplicates()
print(df_clean)

   A  B
0  1  4
2  2  5

19.Write a function to clean a DataFrame:

In [32]:
def clean_df(df):
    df = df.fillna(df.mean())
    df = df.drop_duplicates()
    df = df.astype(float)
    return df

df = pd.DataFrame({'A': [1, 1, None], 'B': [4, 5, 5]})
print(clean_df(df))

     A    B
0  1.0  4.0
1  1.0  5.0

20.Compute the correlation between two numeric columns using corr():

In [33]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.corr())

     A    B
A  1.0  1.0
B  1.0  1.0

21.Calculate the sum and mean of numeric columns using agg():

In [34]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.agg(['sum', 'mean']))

        A     B
sum   6.0  15.0
mean  2.0   5.0

22.Apply multiple aggregation operations (e.g., min, max, mean) on a specific column:

In [35]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.agg({'A': ['min', 'max', 'mean']}))

        A
min   1.0
max   3.0
mean  2.0

23.Use a custom aggregation function in agg() to calculate the range:

In [36]:
def calc_range(x):
    return x.max() - x.min()

df = pd.DataFrame({'A': [1, 2, 3]})
print(df.agg({'A': calc_range}))

A    2
dtype: int64

24.Use the add() function to add two DataFrames element-wise:

In [37]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
result = df1.add(df2)
print(result)

   A   B
0  6  10
1  8  12

25.Use map() to convert a column of categorical data to numerical labels:

In [38]:
df = pd.DataFrame({'A': ['apple', 'banana', 'cherry']})
df['A_mapped'] = df['A'].map({'apple': 1, 'banana': 2, 'cherry': 3})
print(df)

        A  A_mapped
0   apple         1
1  banana         2
2  cherry         3

26.Check the shape and dimensions of a DataFrame using shape and ndim:

In [39]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.shape)
print(df.ndim)

(3, 2)
2

27.Return the absolute values of numeric columns using abs():

In [40]:
df = pd.DataFrame({'A': [-1, 2, -3], 'B': [4, -5, 6]})
print(df.abs())

   A  B
0  1  4
1  2  5
2  3  6

28.Drop rows that contain values that do not meet a specified format

In [41]:
df = pd.DataFrame({'A': ['10', '20', 'NaN'], 'B': ['30', 'invalid', '40']})
df_clean = df[df['B'].str.isnumeric()]
print(df_clean)

     A   B
0   10  30
2  NaN  40

Here, df['B'].str.isnumeric() checks whether each value in column 'B' consists only of numeric characters. It returns a boolean Series indicating whether each value is numeric

In [ ]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame({'A': ['10', '20', 'NaN'], 'B': ['30', 'invalid', '40']})

# Step 1: Replace 'NaN' string with actual np.nan
df.replace('NaN', np.nan, inplace=True)

# Step 2: Convert columns to numeric, forcing errors to NaN
df['A'] = pd.to_numeric(df['A'], errors='coerce')
df['B'] = pd.to_numeric(df['B'], errors='coerce')

# Step 3: Handle missing values
# Option 1: Drop rows with any NaN values
# df_clean = df.dropna()

# Option 2: Fill NaN values with a specific value (e.g., 0)
df.fillna(0, inplace=True)

# Step 4: Optionally, trim whitespaces in string columns
# df['column_name'] = df['column_name'].str.strip()

# Display the cleaned DataFrame
print(df)

:

29.Use bfill() to backfill missing values:

In [42]:
df = pd.DataFrame({'A': [None, 2, 3], 'B': [4, None, 6]})
df_bfilled = df.bfill()
print(df_bfilled)

     A    B
0  2.0  4.0
1  2.0  6.0
2  3.0  6.0

30.Change the data type of a column from float to int using astype():

In [43]:
df = pd.DataFrame({'A': [1.5, 2.5, 3.5]})
df['A'] = df['A'].astype(int)
print(df)

   A
0  1
1  2
2  3